{% extends 'base.html' %}

{% block title %}
    - Signup
{% endblock %}

{% block content %}
        <div class="row my-5">
         <div class="row">
            <div class="col-12 panel panel-default">
            <div class="alert alert-info">
                회원가입
            </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="등록">
                </form>
            </div>
        </div>
    </div>

{% endblock %}