{% extends 'base.html' %}
{% block title %}
    Category Page

{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
                <th scope="col">UmitPrice</th>
                <th scope="col">Price</th>
            </tr>
        </thead>

        <tbody>
        {% for item in cart %}
        {% with product=item.product %}
         <tr>
             <td scope="row">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="img-thumnail">
                    </a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url 'cart:product_add' product.id%}" method="post">
                        {% csrf_token %}
                        {{ item.quantity_form.quantity }}
                        {{ item.quantity_form.is_update }}
                        <input type="submit" class="btn btn-primary" value="Update">
                    </form>
                </td>
                <td>
                    <a href="{% url 'cart:product_remove' product.id %}">Remove</a>
                </td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}